/* header */

.header-top__nav-link:hover {
    color: #6d31ee;
}

.header-top__nav-link:focus-visible {
    background-color: #aa9dfa;
    color: #fff;
    outline: none;
}

.header-top__nav-link:active {
    color: #4f28a5;
}

.header-top__logo:focus {
    outline: none;
    background-color: #aa9dfa;
}

.header-bottom__nav-link:hover {
    color: #6d31ee;
}

.header-bottom__nav-link:focus-visible {
    background-color: #aa9dfa;
    color: #fff;
    outline: none;
}

.header-bottom__nav-link:active {
    color: #4f28a5;
}

.search-btn:hover path {
    stroke: #aa9dfa;
}

.search-btn:hover {
    cursor: pointer;
}

.search-btn:active path {
    stroke: #4f28a5;
}

.search-btn:focus-visible path {
    stroke: #aa9dfa;
}

.header-top__button-login:hover {
    background-color: #121723;
    color: #fff;
}

.header-top__button-login:focus-visible {
    outline: none;
    background-color: #aa9dfa;
    color: #121723;
}

.header-top__button-login:active {
    border: 2px solid #4f28a5;
    background-color: #4f28a5;
    color: #fff;
}

.header-btn-play:hover path {
    fill: #6d31ee;
}

.header-btn-play:focus {
    outline: none;
}

.header-btn-play:focus-visible path {
    fill: #aa9dfa;
}

.header-btn-play:active path {
    fill: #4f28a5;
}

/* hero */

.hero__button:hover {
    background-color: #aa9dfa;
}

.hero__button:focus-visible {
    outline: none;
    background-color: #aa9dfa;
}

.hero__button:active {
    background-color: #4f28a5;
}

/* graph */

.graph-modal__entr-adv-social-link-facebook path {
    transition: fill 0.3s ease-in-out;
}

.graph-modal__entr-adv-social-link-facebook:hover path {
    fill:#6d31ee ;
}

.graph-modal__entr-adv-ico rect {
    transition: fill 0.3s ease-in-out;
}

.graph-modal__entr-adv-ico:hover rect {
    fill: #6d31ee;
}

.graph-modal__entr-btn:hover  {
    background-color:#AA9DFA;
    border-color: #AA9DFA;
}

.graph-modal__entr-btn:focus-visible {
    border-color: #4F28A5;
    background-color: #AA9DFA;
}

.graph-modal__entr-btn:active {
    border-color: #4F28A5;
    background-color: #4F28A5;
}

/* podcasts */

.podcasts-item__top-button:hover {
    border-color: #6d31ee;
    cursor: pointer;
}

.podcasts-item__top-button .podcasts-item__svg-filler {
    transition: fill 0.3s ease-in-out;
}

.podcasts-item__top-button:hover .podcasts-item__svg-filler {
    fill: #6d31ee;
}

.podcasts-item__top-button:focus {
    outline: none;
}

.podcasts-item__top-button:focus-visible {
    outline: none;
    border-color: #aa9dfa;
}

.podcasts-item__top-button:focus-visible .podcasts-item__svg-filler {
    fill: #aa9dfa;
}

.podcasts-item__top-button:active {
    background-color: #4f28a5;
    border-color: #4f28a5;
}

.podcasts-item__top-button:active .podcasts-item__svg-filler {
    fill: #fff;
}

.podcasts-item__bottom-listening {
    transition: fill 0.3s ease-in-out, color 0.3s ease-in-out , background-color 0.3s ease-in-out;
}

.podcasts-item__bottom-listening path {
    transition: fill 0.3s ease-in-out, color 0.3s ease-in-out;
}

.podcasts-item__bottom-listening:hover {
    cursor: pointer;
}

.podcasts-item__bottom-listening:hover path {
    fill: #6d31ee;
}

.podcasts-item__bottom-listening:hover .podcasts-item__button-text {
    color: #6d31ee;
}

.podcasts-item__bottom-listening:focus-visible {
    outline: none;
    background-color: #aa9dfa;
}

.podcasts-item__bottom-listening:focus-visible path {
    fill: #fff;
}

.podcasts-item__bottom-listening:focus-visible .podcasts-item__button-text {
    color: #fff;
}

.podcasts-item__bottom-listening:active path {
    fill: #4f28a5;
}

.podcasts-item__bottom-listening:active .podcasts-item__button-text {
    color: #4f28a5;
}

.podcasts-item__bottom-likes {
    transition: fill 0.3s ease-in-out, color 0.3s ease-in-out , background-color 0.3s ease-in-out;
}

.podcasts-item__bottom-likes path {
    transition: fill 0.3s ease-in-out, color 0.3s ease-in-out;
}

.podcasts-item__bottom-likes:hover {
    cursor: pointer;
}

.podcasts-item__bottom-likes:hover path {
    fill: #6d31ee;
}

.podcasts-item__bottom-likes:hover .podcasts-item__button-text {
    color: #6d31ee;
}

.podcasts-item__bottom-likes:focus-visible {
    outline: none;
    background-color: #aa9dfa;
}

.podcasts-item__bottom-likes:focus-visible path {
    fill: #fff;
}

.podcasts-item__bottom-likes:focus-visible .podcasts-item__button-text {
    color: #fff;
}

.podcasts-item__bottom-likes:active path {
    fill: #4f28a5;
}

.podcasts-item__bottom-likes:active .podcasts-item__button-text {
    color: #4f28a5;
}

.podcasts-item__button-text  {
    transition: fill 0.3s ease-in-out, color 0.3s ease-in-out , background-color 0.3s ease-in-out;
}

.podcasts-item__bottom-shares path {
    transition: fill 0.3s ease-in-out, color 0.3s ease-in-out;
}

.podcasts-item__bottom-shares:hover {
    cursor: pointer;
}

.podcasts-item__bottom-shares:hover path {
    fill: #6d31ee;
}

.podcasts-item__bottom-shares:hover .podcasts-item__button-text {
    color: #6d31ee;
}

.podcasts-item__bottom-shares:focus-visible {
    outline: none;
    background-color: #aa9dfa;
}

.podcasts-item__bottom-shares:focus-visible path {
    fill: #fff;
}

.podcasts-item__bottom-shares:focus-visible .podcasts-item__button-text {
    color: #fff;
}

.podcasts-item__bottom-shares:active path {
    fill: #4f28a5;
}

.podcasts-item__bottom-shares:active .podcasts-item__button-text {
    color: #4f28a5;
}

.podcasts__button:hover {
    background-color: #6d31ee;
    color: #fff;
}

.podcasts__button:focus-visible {
    outline: none;
    border: 2px solid #4f28a5;
    background-color: #aa9dfa;
    color: #fff;
}

.podcasts__button:active {
    background-color: #4f28a5;
    border: 2px solid #4f28a5;
    color: #fff;
}

/* broadcasts */

.choices__inner:hover {
    background-color: #f5f6f7;
    border-color: #f5f6f7;
}

.is-open .choices__inner {
    background-color: #d2d5dd;
}

.choices__inner:active {
    background-color: #a1a6b4;
    border-color: #a1a6b4;
}

.broadcasts-item__link {
    transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.broadcasts-item__link path {
    transition: fill 0.3s ease-in-out;
}

.broadcasts-item__link:hover {
    color: #6d31ee;
}

.broadcasts-item__link:hover path {
    fill: #6d31ee;
}

.broadcasts-item:focus-within::before {
    border-color: #6d31ee;
}

.broadcasts-item__link:focus-visible::before {
    background-color: #aa9dfa;
}

.broadcasts-item__link:focus {
    outline: none;
}

.broadcasts-item__link:focus-visible {
    background-color: #aa9dfa;
}

.broadcasts-item__link:focus-visible .broadcasts-item__link-name {
    color: #fff;
}

.broadcasts-item__link:focus-visible,
.broadcasts-item__link:focus-visible path {
    fill: #fff;
}

.broadcasts__btn-archive:hover {
    background-color: #121723;
    color: #fff;
}

.broadcasts__btn-archive:hover path {
    stroke: #fff;
}


.broadcasts__btn-archive:focus-visible {
    outline: none;
    border-color: #121723;
    background-color: #AA9DFA;
}

.broadcasts__btn-archive:active {
    background-color: #4F28A5;
    border-color: #4F28A5;
    color: #fff;
}

.broadcasts__btn-archive:active path {
    stroke: #fff;
}

/* guests */

.accordion-item__btn:hover {
    cursor: pointer;
}

.accordion-item__btn:hover .accordion-item__btn-name {
    color: #aa9dfa;
}

.accordion-item__btn:hover circle {
    stroke: #aa9dfa;
}

.accordion-item__btn:hover path {
    stroke: #aa9dfa;
}

.accordion-item__item-btn:hover {
    cursor: pointer;
    color: #6d31ee;
}

.guests-person__btn:hover {
    border-color: #aa9dfa;
    background-color: #aa9dfa;
    color: #fff;
}

.accordion-item__btn:active .accordion-item__btn-svg {
    fill: #aa9dfa;
}

.accordion-item__btn:active path {
    stroke: #fff;
}

.accordion-item__item-btn:active {
    color: #4f28a5;
}

.guests-person__btn:active {
    border-color: #4f28a5;
    background-color: #4f28a5;
    color: #fff;
}

.accordion-item__btn:focus {
    outline: none;
    background-color: #292e39;
}

.accordion-item__item-btn:focus-visible {
    outline: none;
    color: #aa9dfa;
}

.guests-person__btn:focus-visible {
    outline: none;
    border-color: #6d31ee;
    background-color: #6d31ee;
    color: #fff;
}

.guests-person__social-link path {
    transition: fill 0.3s ease-in-out;
}

.guests-person__social-link:hover path {
    fill: #6d31ee;
}

.guests-person__social-link:focus-visible {
    outline: none;
}

.guests-person__social-link:focus-visible path {
    fill: #aa9dfa;
}

/* playlists */

.playlists-form__input:hover + .playlists-form__input-descr::before {
    border-color: #6d31ee;
}

.playlists-card__btn:hover ~ .playlists-card__picture::after {
    opacity: 1;
}

.playlists-card__btn:hover ~ .playlists-card__content {
    border-color: #6d31ee;
    background-color: #3c3153;
}

.playlists-card__btn:hover ~ .playlists-card__content .playlists-card__title {
    color: #fff;
}

.playlists-card__btn:hover ~ .playlists-card__content .playlists-card__descr {
    color: #fff;
}

.playlists-card__btn:hover ~ .playlists-card__picture::before {
    opacity: 0.8;
}

.playlists-form__input:active + .playlists-form__input-descr::before {
    border-color: #6d31ee;
    border-width: 7px;
}

.playlists-card__btn:active ~ .playlists-card__content {
    border-color: #4f28a5;
    background-color: #4f28a5;
}

.playlists-card__btn:active ~ .playlists-card__picture::after {
    opacity: 1;
    transform: scale(1.15, 1.15) translate(-44%, -44%);
}

.playlists-card__btn:active ~ .playlists-card__content .playlists-card__title {
    color: #fff;
}

.playlists-card__btn:active ~ .playlists-card__content .playlists-card__descr {
    color: #fff;
}

.playlists-card__btn:active ~ .playlists-card__picture::before {
    opacity: 0.8;
}

.playlists-form__input:focus-visible + .playlists-form__input-descr::before {
    border-color: #6d31ee;
    background-color: #d2d5dd;
}

.playlists-card__btn:focus {
    outline: none;
}

.playlists-card__btn:focus-visible ~ .playlists-card__picture::after {
    opacity: 1;
}

.playlists-card__btn:focus-visible ~ .playlists-card__content {
    border-color: #aa9dfa;
    background-color: #aa9dfa;
}

.playlists-card__btn:focus-visible ~ .playlists-card__content .playlists-card__title {
    color: #121723;
}

.playlists-card__btn:focus-visible ~ .playlists-card__content .playlists-card__descr {
    color: #121723;
}

.playlists-card__btn:focus-visible ~ .playlists-card__picture::before {
    opacity: 0.8;
}


/* wawe */

.wawe-content__button:hover {
    color: #121723;
    background-color: #F0D288;
}

.wawe-content__button, .wawe-content__button-svg-1, .wawe-content__button-svg-2 {
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
}
  
.wawe-content__button:hover .wawe-content__button-svg-1 {
    fill: #121723;
}
  
.wawe-content__button:hover .wawe-content__button-svg-2 {
    fill: #F0D288;
}

.wawe-content__button:active {
    border-color: #BB973E;
    background-color: #BB973E;
}
  
.wawe-content__button:active .wawe-content__button-svg-2 {
    fill: #BB973E;
}

.wawe-content__button:focus-visible {
    color: #121723;
    background-color: #BB973E;
    outline: none;
}

/* about */

.about-slider__btn:hover path,
.about-slider__btn:hover circle {
  stroke: #6d31ee;
}

.about-form__input-field:hover {
  border-color: #fff;
  background-color: #292E39;
}

.about-form__checkbox-label:hover .about-form__checkbox-descr::before {
  border-color: #AA9DFA;
}

.about-slider__btn:active path,
.about-slider__btn:active circle {
  stroke: #4F28A5;
}

.about-slider__btn:focus {
    outline: none;
}

.about-slider__btn:focus-visible path,
.about-slider__btn:focus-visible circle {
  stroke: #AA9DFA;
}

.about-form__input-field:focus-visible {
  outline: none;
  border-color: #292E39;
  background-color: #292E39;
}

.about-form__checkbox:focus-visible+.about-form__checkbox-descr {
  border-bottom-color: #fff;
}

.about-form__btn:hover {
    background-color: #AA9DFA;
    border-color:#AA9DFA ;
}

.about-form__btn:focus-visible {
    outline: #6D31EE;
    background-color:#AA9DFA ;
}

.about-form__btn:active {
    background-color:#4F28A5;
    border-color:#4F28A5 ;
}

/* footer */

.footer-top__logo-link:focus-visible {
    outline: none;
    background-color: #AA9DFA;
}

.footer-top__social-link path {
    transition: fill 0.3s ease-in-out;
}

.footer-top__social-link:hover path {
    fill: #6d31ee;
}

.footer-top__social-link:focus-visible {
    outline: none;
}

.footer-top__social-link:focus-visible path {
    fill: #aa9dfa;
}

.footer-top__menu-link {
    transition:color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer-top__menu-link:hover {
    color: #6d31ee;
}

.footer-top__menu-link:focus-visible {
    background-color: #aa9dfa;
    color: #fff;
    outline: none;
}

.footer-top__menu-link:active {
    color: #4f28a5;
}